<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>City Uses This</title>
		<link href="/static/css/usesthis.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
	</head>
	<body>
		<header>
			<h1><a href="/" title="The most recent interviews.">City Uses This</a></h1>
			<p id="tagline">The sometimes ingenious, sometimes surprising tech used by cities</p>
		</header>
		<nav>
			<ul>
				<li><a href="http://cityusesthis.heroku.com/interviews/" title="All other interviews.">Interviews</a></li>
				<li><a href="http://cityusesthis.heroku.com/about/" title="About the site and source code.">About</a></li>
				<li><a href="http://twitter.com/codeforamerica/" title="Code for America">Twitter</a></li>
			</ul>
		</nav>
		<aside id="sidebar">
		</aside>
		<section id="contents">
		
	{% for post in interviews %}
	<figure>
		<a href='http://cityusesthis.heroku.com/{{ post.id }}' title='View an interview with {{ post.interviewed }}.'>
			{% if post is sameas interviews[0] %}
			<img src='/static/img/{{ post.img }}' alt='{{ post.interviewed }}' width='500' height='335' class='portrait'>
			{% else %}
			<img src='/static/img/{{ post.img }}' alt='{{ post.interviewed }}' width='500' height='100' class='portrait'>			
			{% endif %}
		</a>
	</figure>
	
	<h2 class='person'><a href='http://cityusesthis.heroku.com/' title='View an interview with {{ post.interviewed }}.'>{{ post.interviewed }}</a></h2>
	<p class='summary'>{{ post.jobtitle }}</p>
	<p class='details'>Posted {{ post.humandate }}
	</p>
	
	{% end for %}

		</section>
		<footer>
			<p>This is a <a href="http://codeforamerica.org">Code for America</a> project based on <a href="http://waferbaby.com/" title="Some website.">waferbaby</a>'s awesome blog, <a href="http://usesthis.com">UsesThis</a>. Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
	  	</footer>
	</body>
</html>