<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>An interview with {{ interviewed }}</title>
		<link href="/static/css/usesthis.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
	</head>
	<body>
		<header>
			<h1><a href="http://cityusesthis.heroku.com/" title="The most recent interviews.">City Uses This</a></h1>
			<p id="tagline">The sometimes ingenious, sometimes surprising tech used by cities</p>
		</header>
		<nav>
			<ul>
				<li><a href="http://cityusesthis.heroku.com/interviews/" title="All other interviews.">Interviews</a></li>
				<li><a href="http://cityusesthis.heroku.com/about/" title="About the site and source code.">About</a></li>
				<li><a href="http://twitter.com/codeforamerica/" title="Code for America">Twitter</a></li>
			</ul>
		</nav>
		<aside id="sidebar">
		</aside>
		<section id="contents">
		<article class="overview">
	<figure>
		<img src="/static/img/{{ img }}" alt="{{ interviewed }}" width="500" height="335" class="portrait">
		
	</figure>
	
	<h2 class="person">{{ interviewed }}</h2> 
	<p class="summary">{{ jobtitle }}</p>
	<p class='details'>
		Posted {{ humandate }}
	</p>
</article> 
<article class="contents">
	<h3 id='who_are_you_and_what_do_you_do'>Who are you, and what do you do?</h3>

<p>{{ whoareyou }}</p>

<h3 id='what_hardware_are_you_using'>What hardware are you using?</h3>

{{ hardware }}

<h3 id='and_what_software'>And what software?</h3>

{{ software }}

<h3 id='what_would_be_your_dream_setup'>What would be your dream setup?</h3>

{{ dream }}

</article>
		</section>
		<footer>
			<p>This is a <a href="http://codeforamerica.org">Code for America</a> project based on <a href="http://waferbaby.com/" title="Some website.">waferbaby</a>'s awesome blog, <a href="http://usesthis.com">UsesThis</a>. Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
	  	</footer>
	</body>
</html>